<a href="https://colab.research.google.com/github/nidkabo/data_science_projects/blob/main/analyzing_nycflights13.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Data Transformation Project
###Analyzing NYC Flights 2013 Data
**Author**: Nidkamol Boonyanate

In [ ]:
# install and import libraries
install.packages("nycflights13")

library(tidyverse)
library(nycflights13)

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

Warning message in system("timedatectl", intern = TRUE):
“running command 'timedatectl' had status 1”
── Attaching packages ─────────────────────────────────────── tidyverse 1.3.1 ──

✔ ggplot2 3.4.0      ✔ purrr   1.0.1
✔ tibble  3.1.8      ✔ dplyr   1.0.10
✔ tidyr   1.3.0      ✔ stringr 1.4.1
✔ readr   2.1.3      ✔ forcats 0.5.2

── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

Link to data set information: [nycflights13 package](https://www.rdocumentation.org/packages/nycflights13/versions/1.0.1)

This package provides the following data tables.

flights: all flights that departed from NYC in 2013<br>
weather: hourly meterological data for each airport<br>
planes: construction information about each plane<br>
airports: airport names and locations<br>
airlines: translation between two letter carrier codes and names

In [ ]:
# turn all tables into objects so that we can work with them easily
flights <- nycflights13::flights
weather <- nycflights13::weather
planes <- nycflights13::planes
airports <- nycflights13::airports
airlines <- nycflights13::airlines

In [ ]:
# view data structures
glimpse(flights)
cat("\n")
glimpse(weather)
cat("\n")
glimpse(planes)
cat("\n")
glimpse(airports)
cat("\n")
glimpse(airlines)

Rows: 336,776
Columns: 19
$ year           <int> 2013, 2013, 2013, 2013, 2013, 2013, 2013, 2013, 2013, 2…
$ month          <int> 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1…
$ day            <int> 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1…
$ dep_time       <int> 517, 533, 542, 544, 554, 554, 555, 557, 557, 558, 558, …
$ sched_dep_time <int> 515, 529, 540, 545, 600, 558, 600, 600, 600, 600, 600, …
$ dep_delay      <dbl> 2, 4, 2, -1, -6, -4, -5, -3, -3, -2, -2, -2, -2, -2, -1…
$ arr_time       <int> 830, 850, 923, 1004, 812, 740, 913, 709, 838, 753, 849,…
$ sched_arr_time <int> 819, 830, 850, 1022, 837, 728, 854, 723, 846, 745, 851,…
$ arr_delay      <dbl> 11, 20, 33, -18, -25, 12, 19, -14, -8, 8, -2, -3, 7, -1…
$ carrier        <chr> "UA", "UA", "AA", "B6", "DL", "UA", "B6", "EV", "B6", "…
$ flight         <int> 1545, 1714, 1141, 725, 461, 1696, 507, 5708, 79, 301, 4…
$ tailnum        <chr> "N14228", "N24211", "N619AA", "N804JB", "N668DN", "N394…
$ origin         <chr> "EWR", "LGA", "JFK", "JFK", "LGA", "EWR", "EWR", "LGA",…
$ dest           <chr> "IAH", "IAH", "MIA", "BQN", "ATL", "ORD", "FLL", "IAD",…
$ air_time       <dbl> 227, 227, 160, 183, 116, 150, 158, 53, 140, 138, 149, 1…
$ distance       <dbl> 1400, 1416, 1089, 1576, 762, 719, 1065, 229, 944, 733, …
$ hour           <dbl> 5, 5, 5, 5, 6, 5, 6, 6, 6, 6, 6, 6, 6, 6, 6, 5, 6, 6, 6…
$ minute         <dbl> 15, 29, 40, 45, 0, 58, 0, 0, 0, 0, 0, 0, 0, 0, 0, 59, 0…
$ time_hour      <dttm> 2013-01-01 05:00:00, 2013-01-01 05:00:00, 2013-01-01 0…

Rows: 26,115
Columns: 15
$ origin     <chr> "EWR", "EWR", "EWR", "EWR", "EWR", "EWR", "EWR", "EWR", "EW…
$ year       <int> 2013, 2013, 2013, 2013, 2013, 2013, 2013, 2013, 2013, 2013,…
$ month      <int> 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,…
$ day        <int> 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,…
$ hour       <int> 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 13, 14, 15, 16, 17, 18, …
$ temp       <dbl> 39.02, 39.02, 39.02, 39.92, 39.02, 37.94, 39.02, 39.92, 39.…
$ dewp       <dbl> 26.06, 26.96, 28.04, 28.04, 28.04, 28.04, 28.04, 28.04, 28.…
$ humid      <dbl> 59.37, 61.63, 64.43, 62.21, 64.43, 67.21, 64.43, 62.21, 62.…
$ wind_dir   <dbl> 270, 250, 240, 250, 260, 240, 240, 250, 260, 260, 260, 330,…
$ wind_speed <dbl> 10.35702, 8.05546, 11.50780, 12.65858, 12.65858, 11.50780, …
$ wind_gust  <dbl> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, 20.…
$ precip     <dbl> 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,…
$ pressure   <dbl> 1012.0, 1012.3, 1012.5, 1012.2, 1011.9, 1012.4, 1012.2, 101…
$ visib      <dbl> 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10,…
$ time_hour  <dttm> 2013-01-01 01:00:00, 2013-01-01 02:00:00, 2013-01-01 03:00…

Rows: 3,322
Columns: 9
$ tailnum      <chr> "N10156", "N102UW", "N103US", "N104UW", "N10575", "N105UW…
$ year         <int> 2004, 1998, 1999, 1999, 2002, 1999, 1999, 1999, 1999, 199…
$ type         <chr> "Fixed wing multi engine", "Fixed wing multi engine", "Fi…
$ manufacturer <chr> "EMBRAER", "AIRBUS INDUSTRIE", "AIRBUS INDUSTRIE", "AIRBU…
$ model        <chr> "EMB-145XR", "A320-214", "A320-214", "A320-214", "EMB-145…
$ engines      <int> 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, …
$ seats        <int> 55, 182, 182, 182, 55, 182, 182, 182, 182, 182, 55, 55, 5…
$ speed        <int> NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, NA, N…
$ engine       <chr> "Turbo-fan", "Turbo-fan", "Turbo-fan", "Turbo-fan", "Turb…

Rows: 1,458
Columns: 8
$ faa   <chr> "04G", "06A", "06C", "06N", "09J", "0A9", "0G6", "0G7", "0P2", "…
$ name  <chr> "Lansdowne Airport", "Moton Field Municipal Airport", "Schaumbur…
$ lat   <dbl> 41.13047, 32.46057, 41.98934, 41.43191, 31.07447, 36.37122, 41.4…
$ lon   <dbl> -80.61958, -85.68003, -88.10124, -74.39156, -81.42778, -82.17342…
$ alt   <dbl> 1044, 264, 801, 523, 11, 1593, 730, 492, 1000, 108, 409, 875, 10…
$ tz    <dbl> -5, -6, -6, -5, -5, -5, -5, -5, -5, -8, -5, -6, -5, -5, -5, -5, …
$ dst   <chr> "A", "A", "A", "A", "A", "A", "A", "A", "U", "A", "A", "U", "A",…
$ tzone <chr> "America/New_York", "America/Chicago", "America/Chicago", "Ameri…

Rows: 16
Columns: 2
$ carrier <chr> "9E", "AA", "AS", "B6", "DL", "EV", "F9", "FL", "HA", "MQ", "O…
$ name    <chr> "Endeavor Air Inc.", "American Airlines Inc.", "Alaska Airline…

###Question 1: Which airline that travels from JFK had the most flights during the summer (July, August, and September) of 2013?

In [ ]:
flights %>%
    filter(origin == "JFK",               # filter data
            month %in% c(7, 8, 9),
            !is.na(dep_time)) %>%         # filter out all canceled flights
    count(carrier) %>%                    # count flights
    arrange(desc(n)) %>%                  # desc order by the count of flights
    left_join(airlines, by="carrier")     # join to get carrier's names

   carrier n     name
1  B6      11149 JetBlue Airways
2  DL       5626 Delta Air Lines Inc.
3  AA       3427 American Airlines Inc.
4  9E       3370 Endeavor Air Inc.
5  MQ       1744 Envoy Air
6  UA       1145 United Air Lines Inc.
7  VX        906 Virgin America
8  US        720 US Airways Inc.
9  EV        344 ExpressJet Airlines Inc.
10 HA         87 Hawaiian Airlines Inc.

###Question 2: From question 1, which destinations that people from JFK did travel to the most?

In [ ]:
flights %>%
    filter(origin == "JFK",               # filter data
            month %in% c(7, 8, 9),
            !is.na(dep_time)) %>%         # filter out all canceled flights
    count(dest) %>%                       # count times of travels
    arrange(desc(n)) %>%                  # desc order by the count of travels
    left_join(airports %>%
                select(faa, name),
              by=c("dest"="faa")) %>%     # join to get destination's names
    head()

  dest n    name
1 LAX  2884 Los Angeles Intl
2 SFO  2109 San Francisco Intl
3 BOS  1503 General Edward Lawrence Logan Intl
4 MCO  1390 Orlando Intl
5 SJU  1247 NA
6 LAS  1071 Mc Carran Intl

###Question 3: From question 1, What was the total travel distance of each airline that did travel from JFK? How many flights?

In [ ]:
flights %>%
    filter(origin == "JFK",
            month %in% c(7, 8, 9),
            !is.na(dep_time)) %>%
    left_join(airlines, by="carrier") %>%
    group_by(carrier, name) %>%   # group by carrier and name
    summarise(n_flights = n(),    # summarise the number of flights and total distance
              total_dist_mi = sum(distance)) %>%
    arrange(name)                 # order by carrier

`summarise()` has grouped output by 'carrier'. You can override using the
`.groups` argument.

   carrier name                     n_flights total_dist_mi
1  AA      American Airlines Inc.    3427      5706728
2  DL      Delta Air Lines Inc.      5626      9271491
3  9E      Endeavor Air Inc.         3370      1822018
4  MQ      Envoy Air                 1744       708351
5  EV      ExpressJet Airlines Inc.   344        78432
6  HA      Hawaiian Airlines Inc.      87       433521
7  B6      JetBlue Airways          11149     12402635
8  UA      United Air Lines Inc.     1145      2903694
9  US      US Airways Inc.            720       807028
10 VX      Virgin America             906      2261759

###Question 4: Which airplane model has the longest total travel distance? How many of them?

In [ ]:
flights %>%
    filter(!is.na(dep_time)) %>%
    inner_join(planes, by="tailnum") %>%
    group_by(model, manufacturer) %>% # group by model and manufacturer
    summarise(n_model = n(),          # summarise the number of model and total distance
              total_dist_mi = sum(distance)) %>%
    arrange(desc(total_dist_mi)) %>%  # order by total distance
    head()

`summarise()` has grouped output by 'model'. You can override using the
`.groups` argument.

  model     manufacturer     n_model total_dist_mi
1 A320-232  AIRBUS           31058   43133359
2 737-824   BOEING           13809   19819336
3 757-222   BOEING            9150   19168149
4 A320-232  AIRBUS INDUSTRIE 14516   18957087
5 737-832   BOEING            8695   14720241
6 EMB-145LR EMBRAER          26603   13632946

###Question 5: Which airlines had the most canceled flights? Make a comparison table between scheduled and canceled flights of each airline.

In [ ]:
cf_data <- flights %>%                               # canceled flights data by carrier
    filter(is.na(dep_time)) %>%                      # filter canceled flights
    group_by(carrier) %>%
    summarise(n_canceled = n())                      # count canceled flights

flights %>% 
    left_join(airlines, by="carrier") %>%            # join related tables
    group_by(carrier, name) %>%                               
    summarise(n_scheduled = n()) %>%                 # count scheduled flights
    left_join(cf_data, by="carrier") %>%             # join canceled flights data
    mutate(cf_prop =                                 # calculate the proportion
      round((n_canceled/n_scheduled), 4)) %>%
    ## cf_prop = canceled flights proportion
    arrange(desc(n_canceled)) %>%                    # order by canceled flights
    head(5)                                          # top 5 most canceled flights airlines

`summarise()` has grouped output by 'carrier'. You can override using the
`.groups` argument.

  carrier name                     n_scheduled n_canceled cf_prop
1 EV      ExpressJet Airlines Inc. 54173       2817       0.0520
2 MQ      Envoy Air                26397       1234       0.0467
3 9E      Endeavor Air Inc.        18460       1044       0.0566
4 UA      United Air Lines Inc.    58665        686       0.0117
5 US      US Airways Inc.          20536        663       0.0323