<a href="https://colab.research.google.com/github/nidkabo/data_science_projects/blob/main/Python/api.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Python Programming
### get Game of Thrones Character data from internet using API
**Author**: Nidkamol Boonyanate

**Concept**: API

In [ ]:
# import library
import pandas as pd
from requests import get

In [ ]:
# data from https://thronesapi.com/
url = "https://thronesapi.com/api/v2/Characters"

response = get(url)

response.status_code

200

In [ ]:
res_json = response.json()

# check data structure
print(res_json[0])

{'id': 0, 'firstName': 'Daenerys', 'lastName': 'Targaryen', 'fullName': 'Daenerys Targaryen', 'title': 'Mother of Dragons', 'family': 'House Targaryen', 'image': 'daenerys.jpg', 'imageUrl': 'https://thronesapi.com/assets/images/daenerys.jpg'}

In [ ]:
# list all key's name
for key in res_json[0]: print(key)

id
firstName
lastName
fullName
title
family
image
imageUrl

In [ ]:
# change data form to pandas dataframe
fullname = [character['fullName'] for character in res_json]
title = [character['title'] for character in res_json]
family = [character['family'] for character in res_json]

df = pd.DataFrame({
    "Name": fullname,
    "Title": title,
    "Family": family
})

df.head()

                 Name               Title           Family
0  Daenerys Targaryen   Mother of Dragons  House Targaryen
1       Samwell Tarly             Maester      House Tarly
2            Jon Snow   King of the North      House Stark
3          Arya Stark              No One      House Stark
4         Sansa Stark  Lady of Winterfell      House Stark

In [ ]:
# get all characters in House Stark

df_stark = df.query("Family == 'House Stark'")

print(df_stark)

             Name               Title       Family
2        Jon Snow   King of the North  House Stark
3      Arya Stark              No One  House Stark
4     Sansa Stark  Lady of Winterfell  House Stark
5   Brandon Stark  Lord of Winterfell  House Stark
6       Ned Stark  Lord of Winterfell  House Stark
10  Catelyn Stark  Lady of Winterfell  House Stark
11      Rob Stark  Lord of Winterfell  House Stark